{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        form div {
            margin-bottom: 15px;
        }

        form label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

        form input[type="text"],
        form input[type="number"],
        form select {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #f9f9f9;
            font-size: 16px;
            outline: none;
            border: none;
            border: 1px solid #ccc;
        }

        Form input[type="text"]:focus,
        form input[type="number"]:focus,
        form select:focus {
            border: none;
            box-shadow: 0 0 0 0.2rem #ccc;
        }
        .btn-container {
            display: flex;
            justify-content: end;
        }
        form button {
            padding: 10px 15px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 16px;
            align-self: flex-start;
        }

        form button:hover {
            background-color: #444;
        }

        .back-link {
            display: inline-block;
            margin-top: 20px;
            color: #333;
            text-decoration: none;
        }

        .back-link:hover {
            text-decoration: underline;
        }
    </style>
    <div class="container">
        <h1>Modifier un article</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="btn-container">
            <button type="submit">Enregistrer les modifications</button>
        </div>
        {{ form_end(form) }}

        <a href="{{ path('catalog') }}">Catalogue</a>
    </>
{% endblock %}