<!DOCTYPE html>

{% block body %}
<h1>Categorie Created Successfully!</h1>
<a href="{{ path('create_category') }}">Create another category</a>
<a href="{{ path('catalog') }}">Catalog of articles</a>
<a href="{{ path('hello_world') }}">Go home</a>
{% endblock %}