{% extends 'base.html.twig' %}

{% block title %}
    {{title_page}}
{% endblock %}

{% block body %}
    {% include 'components/navbar/index.html.twig' %}
    {% include 'catalog/style.html.twig' %}
    <div class="catalog-container">
        <h1>Your Favorites</h1>
        <div class="catalog-grid">
            {% for article in articles %}
                {% include 'components/article_card/index.html.twig' with { 'article': article, 'loop': loop, 'canDelete': canDelete } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}