{% include 'components/navbar_home_page/style.html.twig' %}

<nav>
  <div class="container nav-container">
    <a href="#" class="logo">Vintud</a>
    <ul class="nav-links">
      <li>
        <a href="#">Vendre</a>
      </li>
      <li>
        <a href="#">Acheter</a>
      </li>
      <div class="auths-links">
        <li>
          <a href="#" class="auth-link signin">Connexion</a>
        </li>
        <li>
          <a href="#" class="auth-link signup">Inscription</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
