<!DOCTYPE html>

{% block body %}
    <h1>Article Created Successfully!</h1>
    <a href="{{ path('create_article') }}">Create another article</a>
    <a href="{{ path('catalog') }}">Catalog of articles</a>
    <a href="{{ path('item', {'id': article.id}) }}">View article</a>
    <a href="{{ path('hello_world') }}">Go home</a>
{% endblock %}