{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'components/navbar/index.html.twig' %}

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .conversation {
            padding: 15px;
            margin-bottom: 10px;
            background-color: #e9ecef;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .conversation:hover {
            background-color: #d6d8db;
            transform: translateY(-2px);
        }

        .conversation a {
            text-decoration: none;
            color: #333;
            display: block;
            width: 100%;
        }

        .conversation a:hover {
            text-decoration: underline;
        }

        .conversation .user-info {
            font-weight: bold;
        }

        .conversation .timestamp {
            font-size: 0.9em;
            color: #666;
        }
    </style>
    <div style="padding-top: 100px">
    {% for conversation in conversations %}
        <a href="{{ path('conversation_show', {'conversationId': conversation.id}) }}">
            <div class="conversation">
                Conversation entre {{ conversation.userOne.email }} et {{ conversation.userTwo.email }}
            </div>
        </a>
    {% endfor %}
    </div>
    <a href="{{ path('catalog') }}">Catalogue</a>
{% endblock %}